.position {
  @include position-flex-center;
  height: 50px;
  background-color: $colour-medium-grey;
  width: 100%;
  box-shadow: inset 0px 15px 10px -16px $colour-dark-grey;
  &__icon {
    padding-right: 20px;
  }
}
